.mainpage-header {
    text-align: center;
}

.mainpage-container {
    font-size: 20px;
}

.project-container {
    display: flex;
    height: auto;
}

.project-image {
    height: 100px;
    width: 100px;
}

.project-img {
    border-radius: 10px;
    height: 90px;
    margin: 5px;
    width: 90px;
}

.project-contents {
    height: auto;
    padding: 10px;
}

.project-name {
    font-weight: bold;
    font-size: 24px;
}

.project-description {
    font-size: 18px;
}

.project-opener {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.opener-btn {
    align-items: center;
    background-color: #1b1d1e;
    border: 1px solid #fff;
    border-radius: 7.5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    width: 100%;          /* Nimmt so viel Platz wie möglich */
    max-width: 300px;     /* Aber nicht mehr als 222px */
}

.opener-btn:hover {
    background-color: #1f2121;
}

.opener-icon {
    height: 24px;
    width: 24px;
}

.opener-text a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Scroll Container */
.project-scroller {
    overflow: hidden;
    padding: 1rem 0;
    position: relative;
    width: 100%;
}

.project-scroller:hover .project-carousel {
    animation-play-state: paused;
}

.project-carousel {
    animation: scroll-to-left 25s linear infinite;
    animation-delay: 5s;
    display: flex;
    width: max-content;
}

.carousel-item {
    border: 1px solid #fff;
    border-radius: 10px;
    height: 492px;
    width: 300px;
    min-width: 300px;
    flex: 0 0 auto;
    margin: 0 1rem;
}

.carousel-item-inner {
    height: 100%;
}

.carousel-item-head {
    display: flex;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    gap: 0px;
}

.carousel-item-head-image {
    height: 100px;
    text-align: left;
    width: 100px !important;
}

.carousel-item-head-img {
    border-radius: 10px;
    height: 80px;
    left: calc(50% - 10px);
    margin: 10px;
    position: relative;
    transform: translateX(-50%);
    width: 80px;
}

.crsl-head-hr {
    background-color: #fff;
    height: 0.5px;
    margin: 0 auto;
    width: 90%;
}

.carousel-item-maincontent {
    display: flex;
    flex-direction: column;
    height: calc(100% - 115.5px);
    padding: 7.5px;
}

.carousel-item-description {
    flex: 1;
    font-size: 18px;
}

.carousel-item-control-btn {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes scroll-to-left {
    0% {
        transform: translateX(0%);
    } 100% {
        transform: translateX(-50%);
    }
}