:root {
	--bg: hsl(220, 10%, 8%);
	--bg-2: hsl(220, 10%, 17%);
	--bg-3: hsl(220, 10%, 11%);
	--bg-4: hsl(220, 10%, 16%);
	--txt: hsl(220, 30%, 80%);
	--txt-1: hsl(220, 45%, 90%);
	--txt-2: hsl(220, 14%, 55%);
	--txt-3: hsl(220, 11%, 35%);
    --border: hsl(0, 0%, 100%);
    /* Accent colors */
    --accent: #f9e2af;
    --success: #a6e3a1;
    --error: #f38ba8;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	background-color: var(--bg);
	color: var(--txt);
	font-family: "Source Code Pro", monospace;
	display: flex;
	justify-content: center;
}

h1, h2, h3, h4 {
    color: var(--txt-1);
    line-height: 1.3;
    font-family: "Source Code Pro", monospace;
    font-variant-ligatures: no-common-ligatures;
    font-weight: 400;
    margin-block-end: 5.1px;
    margin-block-start: 5.1px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
}

.linkout, .nodecoration {
    color: var(--txt);
    text-decoration: none;
}

.nodecoration:hover {
    text-decoration: underline;
}

main {
    align-items: center;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.content-area {
    background-color: var(--bg-3);
    border-style: solid;
    border-width: 2px;
    border-color: var(--border);
    display: flex;
    flex-direction: column;
    height: 90%;
    max-height: 50rem;
    max-width: 90rem;
    transition: all 0.3s ease-in-out;
    width: 100%;
    z-index: 2;
}

.content-head {
    background-color: var(--bg-2);
    display: flex;
    flex-direction: row;
    min-height: 50px;
    justify-content: space-between;
    padding: 5px;
}

.content-head div:nth-child(2) {
    align-items: center;
    display: flex;
    font-size: 25px;
    justify-content: center;
}

.content-head div:nth-child(3) {
    cursor: pointer;
}

.content-head div {
    height: 50px;
}

.content-body {
    overflow-y: scroll;
    padding: 5px 15px 0px 15px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.content-body::-webkit-scrollbar {
    display: none;
}
.content-area-head {
    display: flex;
    flex-direction: row;
    height: 51.78px;
}

@keyframes cursorBlink {
    0%, 50% {
        opacity: 1;
    } 51%, 100% {
        opacity: 0;
    }
}

.blink {
    animation: blink 0.5s step-end infinite;
    margin-left: 2px;
}

.flex-container {
    display: flex;
    gap: 10px;
}

.output {
    margin-top: 10px;
}

.input-line {
    background-color: var(--bg-3);
	display: flex;
	align-items: center;
	gap: 0rem;
	padding: 1.5rem 0rem;
	position: sticky;
	bottom: 0;
}

#commandInput {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    color: var(--txt-1);
    flex: 1;
    font-size: 16px;
    height: 100%;
    padding: 0px 5px;
    transition: color .2s;
}

#commandInput:focus {
    outline: none;
}

input#commandInput.valid {
	color: var(--success);
}

input#commandInput.invalid {
	color: var(--error);
}

#mobileInput {
    display: none;
}

#cursor {
    display: inline-block;
    width: 10px;
    margin-right: 5px;
    animation: cursorBlink 1s steps(2, start) infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    } 50% {
        opacity: 0;
    }
}

.output-link {
    color: var(--txt);
    text-decoration: underline;
    cursor: pointer;
    word-break: break-word;
}

.output-link:hover {
    color: var(--accent);
}

.interactive-section {
    position: relative;
}

#closed-action {
    background-image: url('/assets/logos/favicon.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 8px;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.4);
    cursor: pointer;
    display: none;
    height: 100px;
    z-index: 1;
    width: 100px;
}

@media (max-width: 750px) {
    .content-area {
        border: none;
        height: 100%;
        max-height: 100%;
    }
}

@media (max-width: 600px) {
    #desktopInput {
        display: none;
    }

    #mobileInput {
        display: block;
    }
}

.box {
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}