html {
}

.euCgvd {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    background: #FFF;
    overflow: hidden;
    position: relative;
}

@media screen and (min-width:0px) {
    .euCgvd {
        padding-bottom: 16px;
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (min-width:650px) {
    .euCgvd {
        padding-bottom: 24px;
        padding-top: 24px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

.fxbogK {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: block;
    overflow: hidden;
    position: relative;
}

.gYzXwr {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.fSVgwd {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media screen and (min-width:0px) {
    .fSVgwd {
        padding-top: 16px;
    }
}

@media screen and (min-width:650px) {
    .fSVgwd {
        padding-top: 24px;
    }
}

.bonBdU {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    border-color: #D7DCE1;
    border-width: 1px;
    border-style: solid;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
}

.bcrHWf {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: -8px;
    margin-left: -8px;
    overflow: hidden;
    position: relative;
}

.jyjypk {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 8px;
    padding-left: 8px;
    position: relative;
}

.iXIKjw {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    overflow: hidden;
    padding-bottom: 4px;
    padding-top: 4px;
    position: relative;
}

.hoyESw {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #0A0B0D;
    overflow: hidden;
    position: relative;
}

.etjXwp {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 8px;
    padding-left: 8px;
    position: relative;
}

.gdHRdV {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #0A0B0D;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    position: relative;
}

@media screen and (min-width:0px) {
    .gdHRdV {
        line-height: 20px;
    }
}

@media screen and (min-width:650px) {
    .gdHRdV {
        line-height: 22px;
    }
}

.fFTCUA {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    text-align: right;
}

.exhDlT {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #0A0B0D;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    position: relative;
}

@media screen and (min-width:0px) {
    .exhDlT {
        line-height: 20px;
    }
}

@media screen and (min-width:650px) {
    .exhDlT {
        line-height: 22px;
    }
}

.kICdrC {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    padding-top: 16px;
    position: relative;
    width: 100%;
}

.bMBgta {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media screen and (min-width:0px) {
    .bMBgta {
        padding-top: 16px;
    }
}

@media screen and (min-width:650px) {
    .bMBgta {
        padding-top: 32px;
    }
}

.fsSMrb {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.izHhhY {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    background: #111821;
    border-color: #111821;
    border-width: 1px;
    border-style: solid;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: #FFF;
    display: block;
    overflow: hidden;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    width: 100%;
}

.bJrTLd {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media screen and (min-width:0px) {
    .bJrTLd {
        padding-top: 16px;
    }
}

@media screen and (min-width:650px) {
    .bJrTLd {
        padding-top: 24px;
    }
}

.dRGQAc {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    overflow: hidden;
    padding-bottom: 6px;
    padding-top: 6px;
    position: relative;
}

.gUriXI {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    overflow: hidden;
    position: relative;
}

@media screen and (min-width:0px) {
    .gUriXI {
        padding-bottom: 12px;
    }
}

@media screen and (min-width:650px) {
    .gUriXI {
        padding-bottom: 8px;
    }
}

.isxfNz {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: -4px;
    margin-left: -4px;
    overflow: hidden;
    position: relative;
}

.bDWOnw {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    overflow: hidden;
    padding-bottom: 4px;
    padding-left: 4px;
    position: relative;
}

.hxzxye {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #53585F;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    position: relative;
}

@media screen and (min-width:0px) {
    .hxzxye {
        line-height: 20px;
    }
}

@media screen and (min-width:650px) {
    .hxzxye {
        line-height: 22px;
    }
}

.eoMXmo {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    overflow: hidden;
    position: relative;
}

.fpvFjo {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    height: 20px;
    overflow: hidden;
    position: relative;
    width: auto;
}

.cdXaxa {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    overflow: hidden;
    position: relative;
}

@media screen and (min-width:0px) {
    .cdXaxa {
        padding-bottom: 16px;
    }
}

@media screen and (min-width:650px) {
    .cdXaxa {
        padding-bottom: 24px;
    }
}

.esVYra {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    background: #E0E0E0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
    position: relative;
}

@media screen and (min-width:0px) {
    .esVYra {
        padding-bottom: 52px;
        padding-top: 52px;
    }
}

@media screen and (min-width:650px) {
    .esVYra {
        padding-bottom: 84px;
        padding-top: 84px;
    }
}

.kCqbLW {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
}

.eGbIAO {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    background: #E0E0E0;
    border-color: #FFF;
    border-width: 2px;
    border-style: solid;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    display: inline-block;
    overflow: hidden;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}

.hpreWi {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    background: #E0E0E0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
    padding-bottom: 48px;
    padding-top: 48px;
    padding-left: 48px;
    padding-right: 48px;
    position: relative;
}

.fsPkSX {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    padding-top: 24px;
    position: relative;
    width: 100%;
}

.jFTkya {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    background: #E0E0E0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
    padding-bottom: 24px;
    padding-top: 24px;
    position: relative;
    width: 100%;
}

.kUWIZJ {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: none;
    overflow: hidden;
    position: relative;
}

.kPSIgz {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #53585F;
    font-weight: 400;
    overflow: hidden;
    position: relative;
    text-align: center;
}

@media screen and (min-width:0px) {
    .kPSIgz {
        font-size: 12px;
    }
}

@media screen and (min-width:650px) {
    .kPSIgz {
        font-size: 14px;
    }
}

@media screen and (min-width:0px) {
    .kPSIgz {
        line-height: 20px;
    }
}

@media screen and (min-width:650px) {
    .kPSIgz {
        line-height: 22px;
    }
}

.hfarxG {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media screen and (min-width:0px) {
    .hfarxG {
        padding-top: 2px;
    }
}

@media screen and (min-width:650px) {
    .hfarxG {
        padding-top: 4px;
    }
}

.jJZifv {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: -0px;
    margin-left: -0px;
    overflow: hidden;
    position: relative;
}

.bibuss {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    overflow: hidden;
    padding-bottom: 0px;
    padding-left: 0px;
    position: relative;
}

.dnYHJn {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media screen and (min-width:0px) {
    .dnYHJn {
        height: 80px;
    }
}

@media screen and (min-width:650px) {
    .dnYHJn {
        height: 96px;
    }
}

.czqmo {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media screen and (min-width:0px) {
    .czqmo {
        padding-top: 12px;
    }
}

@media screen and (min-width:650px) {
    .czqmo {
        padding-top: 16px;
    }
}

.iFxXie {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media screen and (min-width:0px) {
    .iFxXie {
        height: 104px;
    }
}

@media screen and (min-width:650px) {
    .iFxXie {
        height: 168px;
    }
}

.dvPMAP {
    box-sizing: border-box;
    -webkit-text-decoration: none;
    text-decoration: none;
    background: #F5F6F8;
    border-color: #FFF;
    border-width: 2px;
    border-style: solid;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    overflow: hidden;
    position: relative;
}

@media screen and (min-width:0px) {
    .dvPMAP {
        height: 80px;
    }
}

@media screen and (min-width:650px) {
    .dvPMAP {
        height: 96px;
    }
}

@media screen and (min-width:0px) {
    .dvPMAP {
        width: 80px;
    }
}

@media screen and (min-width:650px) {
    .dvPMAP {
        width: 96px;
    }
}

.iKuzMk {
    -webkit-text-decoration: none;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}

.iKuzMk:hover {
    cursor: pointer;
}

.bWOBDu {
    font-family: Inter, serif;
    -webkit-text-decoration: none;
    text-decoration: none;
}

*[hidden] {
    display: none;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html>* {
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
}

*, *:before, *:after {
    box-sizing: inherit;
}

button {
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

svg {
    display: block;
}

.bzfSDb {
    object-fit: contain;
    display: block;
}

.hBprCy {
    object-fit: cover;
    display: block;
}

.dmayav {
    position: relative;
    z-index: 0;
}

.dmayav:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: linear-gradient(90deg, #E0E0E0, #f9f9f9, #E0E0E0);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-animation: dNMDfi 1.5s ease-in-out infinite;
    animation: dNMDfi 1.5s ease-in-out infinite;
}

@-webkit-keyframes dNMDfi {
    75% {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes dNMDfi {
    75% {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }
}